.top_acc_home_item {
	display: inline;
	zoom: 1;
}

#banner-desc {
	display: inline;
	zoom: 1;
}

#page div#topmenu ul li {
	display: inline;
	zoom: 1;
}

#bannernav li {
	display: inline;
	zoom: 1;
}

#page #footer{
	float: left;
}	